.table-header{
    height: 200vh;
    display: flex;
    justify-content: center;
    background-image: url(../images/home/headerbg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content-table{
    border-collapse: collapse;
    margin: 100px 0;
    position:relative;
    font-size: 1.0em;
    min-width: 10%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.content-table thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
tr:hover {background-color: #f5f5f5;}
.content-table th,
.content-table td{
  padding: 12px 15px;
  text-align: left;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #000;
    width: 70px;
    height: 30px;
    font-weight: 600;
    font-size: 0.8rem;
}

.btn.transparent:hover{
    background-color: #009879;
    color: #fff;
}

@media(Max-width:900px){
    .content-table{
        border-collapse: collapse;
        margin: 100px 0;
        position:relative;
        font-size: 0.4em;
        width: 100%;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    }

    .content-table th,
    .content-table td{
      padding: 8px;
      text-align: left;
    }

}




